/SoundBox-CoreLibrary/.settings/
/related/jsonsimple/target/
/SoundBox-CoreLibrary/target/
/SoundBox/target/
/SoundBox-BrowserGUI/target/
/SoundBox-PlayerEngine/target/
/SoundBox-PlayerGui/target/
/SoundBox-DownloaderGui/target/
/SoundBox-DownloaderEngine/target/
/JamendoPlugin/target/