/SoundBox-CoreLibrary/.settings/
/related/jsonsimple/target/
/SoundBox-CoreLibrary/target/
/SoundBox/target/
/SoundBox-BrowserGUI/target/
/SoundBox-PlayerEngine/target/
/SoundBox-PlayerGui/target/
/SoundBox-DownloaderGui/target/
/SoundBox-DownloaderEngine/target/
/JamendoPlugin/target/
/d
/BeeMp3Plugin/target/
/SoundBox-Starter/nbproject/private/
/SoundBox-Starter/build/
/SoundBox-Starter/dist/
/related/felix-framework-4.0.2/felix-cache